@page "/bindings"

<h3>Bindings Demo</h3>

<h3 class="text-info">One way: </h3>
<p>@oneWay</p>

<hr />

<h3 class="text-info" v>Two way: </h3>
<p><input @bind="twoWay" /></p>
<p>@twoWay</p>

<hr />

<h3 class="text-info">Two way on input :</h3>
<p><input @bind="twoWay" @bind:event="oninput" /></p>
<p>@(string.IsNullOrEmpty(twoWay) ? "---" : twoWay)</p>

<hr />

<h3 class="text-info">OnClick :</h3>
<p><button class="btn btn-primary" @onclick="setTwoWay">Change twoWay</button></p>
<p>@(string.IsNullOrEmpty(twoWay) ? "---" : twoWay)</p>

@code {
    string oneWay = "This is the text from one way binding.";

    string twoWay = "two way";

    private void setTwoWay()
    {
        twoWay = "from onclick";
    }

}
