@page "/routingdemo"
@page "/routingdemo/{parameter1}/{parameter2:int}"

<h3>Routing Demo</h3>

<p>Parameter1: @Parameter1</p>
<p>Parameter2: @Parameter2</p>

@code {
    [Parameter] public string Parameter1 { get; set; }
    [Parameter] public int Parameter2 { get; set; }
}
