<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorProductivityProject</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <AuthorizeView>
            <Authorized>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="categories">
                        <span class="oi oi-plus" aria-hidden="true"></span> Categories (CRUD 1)
                    </NavLink>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="products">
                        <span class="oi oi-plus" aria-hidden="true"></span> Products (CRUD with image and select)
                    </NavLink>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="ProductsGallery">
                        <span class="oi oi-plus" aria-hidden="true"></span> Product Gallery
                    </NavLink>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="parent">
                        <span class="oi oi-plus" aria-hidden="true"></span> Parent Child Communication
                    </NavLink>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="bindings">
                        <span class="oi oi-plus" aria-hidden="true"></span> Bindings Demo
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="ComponentBaseDemo">
                        <span class="oi oi-plus" aria-hidden="true"></span> Component Base Demo
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="ComponentBaseWithPartialDemo">
                        <span class="oi oi-plus" aria-hidden="true"></span> Partial Demo
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="routingdemo/xxx/222">
                        <span class="oi oi-plus" aria-hidden="true"></span> Routing Demo
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="querystringdemo?p1=xxx&p2=222">
                        <span class="oi oi-plus" aria-hidden="true"></span> Query String Demo
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="parent">
                        <span class="oi oi-plus" aria-hidden="true"></span> Parent Child Demo
                    </NavLink>
                </li>

            </Authorized>

            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="counter">
                        <span class="oi oi-plus" aria-hidden="true"></span> Counter
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
